<%- include('partials/header'); -%>

<main id="body-pd" class="body-pd">
  <%- include('partials/sidebarMenu'); -%>

  <div class="d-flex flex-column flex-grow-1 bg-light">

    <div class="p-4">
      <h2 class="mb-3 border-bottom">Add Assignments</h2>

      <form action="/addAssignment" method="post">

        <div class="form-group">
          <select class="form-select" name="subject" required>
            <option value="">Select Subject</option>
            <% subjects.forEach(function(element){ %>
            <option value="<%=element.id%>" style="background-color:<%=element.color%> "><%=element.name%></option>
            <%  }); %>
          </select>
        </div>

        <div class="form-floating mt-3">
          <input id="topic" class="form-control" type="text" name="topic" placeholder="Enter Title" />
          <label for="topic">Title</label>
        </div>

        <div class="form-group row mt-3">
          <div class="col-md-6">
            <label class="form-label">Start Date</label>
            <input class="form-control" id="start_dt" type="text" name="start_dt" />
          </div>
          <div class="col-md-6">
            <label class="form-label">End Date</label>
            <input class="form-control" id="end_dt" type="text" name="end_dt" />
          </div>
        </div>

        <div class="form-group mt-3">
          <label class="form-label" for="assignment-body">Assignment Body</label>
          <textarea id="assignment-body" class="form-control" name="assignmentBody" placeholder="Write a program..."
            rows="11"></textarea>
        </div>

        <button class="btn btn-primary mt-3" type="submit" name="Assign">
          Assign
        </button>
      </form>


    </div>
  </div>
</main>

<script>
  $("#start_dt").daterangepicker({
      singleDatePicker: true,
      timePicker: true,
      timePicker24Hour: true,
      startDate: moment().startOf("minute"),
      locale: {
        format: "YYYY-MM-DD HH:MM:SS"
      }
    });

  $("#end_dt").daterangepicker({
      singleDatePicker: true,
      timePicker: true,
      timePicker24Hour: true,
      startDate: moment().startOf("hour").add(5, "day"),
      locale: {
        format: "YYYY-MM-DD HH:MM:SS"
      }
    });
</script>

<%- include('partials/footer'); -%>