<%- include('partials/header'); -%>

<div class="container-xl">
  <!-- Navbar-Section -->
  <nav class="navbar navbar-expand navbar-light mt-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/#">
        <img src="/images/LOGO.svg" alt="Notebook-logo" class="logo" />
        <strong>NOTEBOOK</strong>
      </a>
      <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item get-started">
            <a class="nav-link active px-3" aria-current="page" href="/logout"
              >LogOut</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="py-5">
      <div class="pb-3">
        <h5>
          <b>Subject</b> <%=result.subject%> - <b>Assignmnet</b> #<%=result.id%>
        </h5>
        <h2><%=result.topic%></h2>
        <div>
          <%-result.body%>
        </div>
        
      </div>
      <hr />
      <h2>Submit Assignment</h2>

      <form>
        <div class="form-group mt-3">
          <label for="comment">Add Text or Comment</label>
          <input id="comment" class="form-control" type="text" name="comment" />
        </div>

        <div class="form-group mt-3">
          <label for="formFileMultiple" class="form-label"
            >Choose Assignment Images</label
          >
          <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            multiple
          />
        </div>

        <a
          class="btn btn-primary mt-3"
          type="submit"
          href="/dashboard"
          name="Submit"
        >
          Assign
        </a>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
