<%- include('partials/header'); -%>

<main class="body-pd" id="body-pd">
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
      />
    </symbol>
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </symbol>
  </svg>
  <%- include('partials/sidebarMenu'); -%>

  <div class="d-flex flex-column flex-grow-1 bg-light">
    <div class="p-4">
      <div class="row">
        <div class="col">
          <h2><%= result[0].name %></h2>
        </div>
        <% if(message.err){ %>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:" width="15px" height="15px">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          <%= message.err%>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }else if(message.succ){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width="15px" height="15px">
            <use xlink:href="#check-circle-fill" />
          </svg>
          <%= message.succ%>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <!-- Messages -->
        <div id="succ-not" class="alert alert-success alert-dismissible fade show d-none" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width="15px" height="15px">
            <use xlink:href="#check-circle-fill" />
          </svg>
          <span id="succ-msg"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div id="err-not" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:" width="15px" height="15px">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          <span id="err-msg"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!-- <div class="col">
          <button type="button" class="btn btn-sm btn-outline-primary" onclick="filterSelection('all')">
            All assignments
          </button>
          <button type="button" class="btn btn-sm btn-outline-primary" onclick="filterSelection('active')">
            Active
          </button>
          <button type="button" class="btn btn-sm btn-outline-primary" onclick="filterSelection('inactive')">
            Inactive
          </button>
        </div> -->
      </div>
      <!-- <% if(user.view != "asStudent"){ %>
      <div class="btn-toolbar mb-2 mb-md-0">
        <a type="button" href="/assignment/add" class="btn btn-sm btn-outline-secondary"> Add assignment </a>
      </div>
      <% } %> -->
      <ul class="nav nav-tabs flex-row justify-content-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/assignment">Assignments</a>
        </li>
        <% if(user.id == result[0].assignor){ %>
        <li class="nav-item">
          <a class="nav-link" href="/assignment/add">Add assignment</a>
        </li>
        <% } %>
      </ul>
      <div id="assignmentCard" class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        <% result.forEach(function(element){ %>
        <div id="<%= element.id %>" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 cardSingle">
          <span class="d-none"><%= element.start_dt %></span>
          <span class="d-none"><%= element.end_dt %></span>
          <div class="card card-cover h-100 overflow-hidden shadow-lg" style="background-color: <%=element.color%>">
            <div class="card-header">
              <%=element.name%> <% if(user.view == "asAdmin" || user.id == element.assignor){ %>
              <span class="position-absolute end-0 me-3 del-card">
                <a class="del-link" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-assignmentid="<%=element.id%>"></a>
              </span>
              <% } %>
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Assignment #<%=element.id%></h5>
              <p class="card-text"><%=element.topic%></p>
              <a href="/assignment/view/<%=element.id%>" class="btn btn-primary stretched-link mt-auto submit-button">Submit Now</a>
            </div>
            <div class="card-footer">Due: <%=element.end_dt.toLocaleString('en-IN', { day: 'numeric', month: 'short', hour: 'numeric', minute: '2-digit' });%></div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  <!-- Delted Modal Popup -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteAssignmentPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Delete assignment!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">The assignment and its submissions will be permanently deleted.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  const deleteModal = document.getElementById("deleteModal");
  if (deleteModal) {
    deleteModal.addEventListener("show.bs.modal", (event) => {
      // Button that triggered the modal
      const button = event.relatedTarget;
      // Extract info from data-bs-* attributes
      const ass_id = button.getAttribute("data-bs-assignmentid");

      // If necessary, you could initiate an Ajax request here
      // and then do the updating in a callback.

      // Update the modal's content.
      deleteModal.querySelector(".modal-footer button").onclick = () => {
        deleteAssignment(ass_id)
          .then(
            (response) => {
              document.getElementById(ass_id).remove();
              document.getElementById("succ-msg").innerHTML = response.msg;
              document.getElementById("succ-not").classList.remove("d-none");
            },
            (err) => {
              console.log(err);
              document.getElementById("err-msg").innerHTML = "There is some error!";
              document.getElementById("err-not").classList.remove("d-none");
            }
          )
          .catch((err) => {
            console.log(err);
            document.getElementById("err-msg").innerHTML = "There is some error!";
            document.getElementById("err-not").classList.remove("d-none");
          });
      };
    });
    async function deleteAssignment(recipient) {
      const response = await fetch("/assignment/delete/" + recipient);
      return await response.json();
    }
  }
</script>

<!-- <script>
  filterSelection("active");
  function filterSelection(e) {
    // Declare variables
    var container, div, span0, span1, currentTime, txtValue0, textValue1, i;
    container = document.getElementById('assignmentCard');
    div = document.getElementsByClassName("cardSingle");
    currentTime = new Date();

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < div.length; i++) {

      span0 = div[i].getElementsByTagName("span")[0];
      span1 = div[i].getElementsByTagName("span")[1];
      txtValue0 = span0.textContent || span0.innerText;
      txtValue1 = span1.textContent || span1.innerText;

      console.log( new Date(Date.parse(txtValue0)));
      console.log(txtValue1);
      console.log(currentTime);
      if(e=="all"){
        div[i].style.display = "";
      } else if (e=="active" && (currentTime <= new Date(Date.parse(txtValue0)) && currentTime >= new Date(Date.parse(txtValue1)))) {
        console.log("dd");
        div[i].style.display = "";

      }else if(e=="inactive" && (new Date(txtValue0)<currentTime || new Date(textValue1)>currentTime)){
        div[i].style.display = "";
      } else{
        div[i].style.display = "none";
      }
    }
  }
  </script> -->

<%- include('partials/footer'); -%>
